*{
    margin: 0;
}
h1,h2{
    color: whitesmoke;
    z-index: 0;
}

#my_video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav{
    display: block;
    height: 20px;
    width: auto;
    border: solid black 2.3px;
    background-color: antiquewhite;
    display: block;
    margin:10px;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
    opacity: 0.87;
    text-align: center;
}
a{
    text-decoration-line: none;
    margin-left:55px ;
    font-size: 15px;
    color: blue;
}
.center{
    text-align: center;
    align-self: center;
    padding: 2px;
}
select{
    width: 400px;
    height: 50px;
    padding: 3px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
}
div{
    text-align: center;
    align-self: center;
}
h1:hover{
    font-size: 40px;
    color: blue;
    
}
h1:active{
    color: red;
}
h2:hover{
    font-size: 35px;
    color: aquamarine;
}
a:hover{
    color: lightcoral;
}
img{
    display: inline;
    opacity: 0.7;
    margin: 5px ;
    padding: 2px;
}
