.inline-label{
    display: inline;
    width: auto;
}

label{
    display: block;
    font-size: large;
    margin: 1em 0 .2em;
}

h1,p{
    text-align: center;
}
form{
    text-align: center;
    background-color: lightyellow;
    border-radius: 8%;
    max-width: 800px;
    align-self: center;
    margin: 50px auto;
    padding: 20px;
    opacity: 0.74;
}

body{
    width: 100%;
    /* max-width: 800px; */
    margin: 50px auto;
}
input,select{
    text-align: center;
    display: block;
    width: 95%;
    border: solid black 2.3px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
}
select{
    width: 95%;
}
*{
    margin: 0;
}
#my_video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
}
input[type = "submit"]:hover,
input[type = "submit"]:focus{
    background-color: green;
}
input[type = "reset"]:hover,
input[type = "reset"]:focus{
    background-color: red;
}
a{
    text-decoration-line: none;
    margin: 5px;
    font-size: larger;
}